torch==2.4.0
--extra-index-url https://download.pytorch.org/whl/cu124

unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git
bitsandbytes>=0.43.3
accelerate
transformers>=4.45.0
sentencepiece
runpod